html, body {
  height: 100%;
  overflow: hidden;
}

#list{
  height: calc(100vh - 220px);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
#list::-webkit-scrollbar{
  display: none;
}

#searchResults{
  max-height: 320px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
#searchResults::-webkit-scrollbar{
  display: none;
}